<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>clusterjsp</display-name>
    <distributable/>
    <servlet>
        <display-name>HaJsp</display-name>
        <servlet-name>HaJsp</servlet-name>
        <jsp-file>/HaJsp.jsp</jsp-file>
    </servlet>
    <servlet>
        <display-name>ClearSession</display-name>
        <servlet-name>ClearSession</servlet-name>
        <jsp-file>/ClearSession.jsp</jsp-file>
    </servlet>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HaJsp.jsp</welcome-file>
    </welcome-file-list>
</web-app>
